h1 {
	font-family: 'Raleway', sans-serif;
	text-align: left;
	opacity: 1;
	font-size: 40px;
	margin-bottom: 0em;
	padding-bottom: 0em;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
}

p, li {
	font-family: 'Source Sans Pro', sans-serif;
}

div ul {
    text-align: center;
	// margin-left: -15px;
	padding-top: 1em;
}

div ul li {
	display: inline;
	list-style-type: none;
	margin: 20px;
}

div a {
	color: inherit;
}

body {
	margin: 50px 150px;
	background-color: #fdfdfd;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    font-size: 24px;
    border-bottom: solid 0px;
    padding-bottom: 1em;
    margin-left: 0em;
    margin-top: 0.4em;
}