h1, h2 {
	font-family: Raleway ExtraBold, cursive;
	opacity: 1;
	border-bottom: solid 2px rgba(255, 255, 255, 0.125);
	font-size: 2.25em;
	margin-bottom: 0.8em;
	padding-bottom: 0.4em;
}

p {
	font-family: Source Sans Pro, cursive;
}