/* ---- reset reloaded ---- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* ---- particles.js container ---- */

#particles-js{
/*  width: 100%;*/
  height: 100vh;
  background-color: #4a95fa;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* ---- div styling ---- */

* {
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
}

resume-colors {
  background-color: #4a95fa;
  background-color: #3974c6;
  background-color: #2c5a97;
  background-color: #429efc;
  background-color: #696969;
}

.hero {
  height: 100vh;
  position: relative;
  margin: 0px;
  padding: 0px;
  background-color: whitesmoke;
  transition: height 0.25s ease-in;
/*  padding: 4em;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
/*
  font-family: 'Source Sans Pro';
  font-size: 1.3em;
  position: absolute;
  z-index: 10;
  width: 200px;
  height: 220px;
  background: #eee;
  top: 50%;
  left: 50%;
  margin: -110px 0 0 -100px;
  padding: 20px;
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
*/
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  min-width: 300px;
/*  text-align: center;*/
/*  border-bottom-style: solid;*/
/*  border-bottom-width: thick;*/
/*  border-bottom-color: slategray;*/
/*  border-bottom-*/
}

.panel h1 {
  color: white;
  font-weight: bold;
  font-size: 4em;
  font-family: Nunito, serif;
}

.panel h2 {
  color: white;
  font-size: 2em;
  margin-top: 0.5em;
  font-family: Nunito, serif;
  padding-left: -1em;
  margin-left: -1em;
}

.triangle-wrapper {
  position: absolute;
  width: 100%;
  height: 150px;
  z-index: 500;
  left: 0;
  right: 0;
  bottom: -15px;
}

.triangle {
  width: 0;
  height: 0;
  margin-right: 0vw;
  border-left: 100vw solid transparent;
  border-right: 0vw solid transparent;
  border-bottom: 150px solid white;
}



.triangle-invert {
    width: 0;
    height: 0;
    margin-right: 0vw;
    border-right: 100vw solid transparent;
    border-left: 0vw solid transparent;
    border-bottom: 150px solid #4a95fa;
}

.triangle-wrapper {
  position: absolute;
  width: 100%;
  height: 150px;
  z-index: 500;
  left: 0;
  right: 0;
/*  bottom: -15px;*/
}

.triangle-flip {
    width: 0;
    height: 0;
    margin-right: 0vw;
    border-right: 100vw solid transparent;
    border-left: 0vw solid transparent;
    border-top: 150px solid #4a95fa;
}

.spacer {
  padding: 1em 0em 1em 0em;
}

.pspacer {
  padding: 0.5em 0em 0.5em 0em;
}

@media only screen and (min-width: 900px) {
  .content {
  /*  padding: 0 18px;*/
    max-height: 0;
    width: 60%;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  /*  background-color: #f1f1f1;*/
  }
  .collapsible {
    background-color: inherit;
    color: white;
    cursor: pointer;
    padding: 18px 0px 18px 0px;
    width: 60%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.5em;
    font-weight: 600;
    font-style: italic;
    font-family: Source Sans Pro, serif,
  }
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: left;
    margin-right: 2em;
    margin-left: -2em;
  }
  .active:after {
      content: "\2212";
  }
  .triangle-wrapper {
    position: absolute;
    width: 100%;
    height: 150px;
    z-index: 500;
    left: 0;
    right: 0;
    bottom: -15px;
  }
    .main {
    padding: 50px 150px 50px 150px;
    font-family: Source Sans Pro, serif;
  }

  .main h1 {
    color: #429efc;
    font-size: 2.5em;
    font-weight: bold;
  /*  padding-bottom: 0.5em;*/
  }

  .main h2 {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em 0em 0.5em 0em;
    font-style: italic;
  }

  .main p {
    font-size: 1.2em;
    line-height: 150%;
    padding: 0.5em 0em 0.5em 0em;
  }

  .main-invert {
    background-color: #4a95fa;
    padding: 50px 150px 50px 150px;
    font-family: Source Sans Pro, serif;
  /*  background-color: whitesmoke;*/
  }

  .main-invert h1 {
    color: white;
    font-size: 2.5em;
    font-weight: bold;
  /*  padding-bottom: 0.5em;*/
  }

  .main-invert h2 {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em 0em 0.5em 0em;
    font-style: italic;
  }

  .main-invert p {
    color: white;
    font-size: 1.2em;
    line-height: 150%;
  /*  padding: 0.5em 0em 0.5em 0.5em;*/
    padding: 0.5em 0em 0.5em 0em;
  }

}

@media only screen and (max-width: 899px) {
  .content {
  /*  padding: 0 18px;*/
    max-height: 0;
    width: 90%;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  /*  background-color: #f1f1f1;*/
  }
  .collapsible {
    background-color: inherit;
    color: white;
    cursor: pointer;
    padding: 18px 0px 18px 0px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.5em;
    font-weight: 600;
    font-style: italic;
    font-family: Source Sans Pro, serif,
  }
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: left;
    margin-right: 2em;
    margin-left: -2em;
  }
  .active:after {
      content: "\2212";
  }
  .triangle-wrapper {
    position: absolute;
    width: 100%;
    height: 150px;
    z-index: 500;
    left: 0;
    right: 0;
    bottom: -15px;
  }
  .main {
    padding: 25px 100px 25px 100px;
    font-family: Source Sans Pro, serif;
  }
  .main-invert {
    background-color: #4a95fa;
    padding: 25px 100px 25px 100px;
    font-family: Source Sans Pro, serif;
  /*  background-color: whitesmoke;*/
  }
  .main h1 {
    color: #429efc;
    font-size: 2.5em;
    font-weight: bold;
  /*  padding-bottom: 0.5em;*/
  }
  .main h2 {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.25em 0em 0.25em 0em;
    font-style: italic;
  }
  .main p {
    font-size: 1.2em;
    line-height: 150%;
    padding: 0.25em 0em 0.25em 0em;
  }
  .main-invert h1 {
    color: white;
    font-size: 2.5em;
    font-weight: bold;
  /*  padding-bottom: 0.5em;*/
  }

  .main-invert h2 {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.25em 0em 0.25em 0em;
    font-style: italic;
  }

  .main-invert p {
    color: white;
    font-size: 1.2em;
    line-height: 150%;
  /*  padding: 0.5em 0em 0.5em 0.5em;*/
    padding: 0.25em 0em 0.25em 0em;
  }
  
}

@media only screen and (max-width: 700px) {
  .content {
  /*  padding: 0 18px;*/
    max-height: 0;
    width: 90%;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  /*  background-color: #f1f1f1;*/
  }
  .collapsible {
    background-color: inherit;
    color: white;
    cursor: pointer;
    padding: 18px 0px 18px 18px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.5em;
    font-weight: 600;
    font-style: italic;
    font-family: Source Sans Pro, serif,
  }
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 2em;
/*    margin-right: -2em;*/
  }
  .active:after {
      content: "\2212";
  }
  .triangle-wrapper {
    position: absolute;
    width: 100%;
    height: 150px;
    z-index: 500;
    left: 0;
    right: 0;
    bottom: -15px;
  }
  .main {
    padding: 25px 50px 25px 50px;
    font-family: Source Sans Pro, serif;
  }
  .main-invert {
    background-color: #4a95fa;
    padding: 25px 50px 25px 50px;
    font-family: Source Sans Pro, serif;
  /*  background-color: whitesmoke;*/
  }
  .main h1 {
    color: #429efc;
    font-size: 2.5em;
    font-weight: bold;
  /*  padding-bottom: 0.5em;*/
  }

  .main h2 {
    font-size: 1.5em;
    font-weight: bold;
/*    padding: 0.5em 0em 0.5em 0em;*/
    font-style: italic;
  }

  .main p {
    font-size: 1.2em;
    line-height: 150%;
/*    padding: 0.5em 0em 0.5em 0em;*/
  }
  .main-invert h1 {
    color: white;
    font-size: 2.5em;
    font-weight: bold;
  /*  padding-bottom: 0.5em;*/
  }

  .main-invert h2 {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
/*    padding: 0.5em 0em 0.5em 0em;*/
    font-style: italic;
  }

  .main-invert p {
    color: white;
    font-size: 1.2em;
    line-height: 150%;
  /*  padding: 0.5em 0em 0.5em 0.5em;*/
/*    padding: 0.5em 0em 0.5em 0em;*/
  }
  .panel h1 {
    color: white;
    font-weight: bold;
    font-size: 3em;
    font-family: Nunito, serif;
  }

  .panel h2 {
    color: white;
    font-size: 1.5em;
    margin-top: 0.5em;
    font-family: Nunito, serif;
    padding-left: -1em;
    margin-left: -1em;
  }
  
}

@media only screen and (max-width: 600px) {
  .content {
  /*  padding: 0 18px;*/
    max-height: 0;
    width: 90%;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  /*  background-color: #f1f1f1;*/
  }
  .collapsible {
    background-color: inherit;
    color: white;
    cursor: pointer;
    padding: 18px 0px 18px 18px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.5em;
    font-weight: 600;
    font-style: italic;
    font-family: Source Sans Pro, serif,
  }
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 2em;
/*    margin-right: -2em;*/
  }
  .active:after {
      content: "\2212";
  }
  .triangle-wrapper {
    position: absolute;
    width: 100%;
    height: 150px;
    z-index: 500;
    left: 0;
    right: 0;
    bottom: -1em;
  }
  .main {
    padding: 20px 20px 20px 20px;
    font-family: Source Sans Pro, serif;
  }
  .main-invert {
    background-color: #4a95fa;
    padding: 20px 20px 20px 20px;
    font-family: Source Sans Pro, serif;
  /*  background-color: whitesmoke;*/
  }
  .main h1 {
    color: #429efc;
    font-size: 2.5em;
    font-weight: bold;
  /*  padding-bottom: 0.5em;*/
  }

  .main h2 {
    font-size: 1.5em;
    font-weight: bold;
/*    padding: 0.5em 0em 0.5em 0em;*/
    font-style: italic;
  }

  .main p {
    font-size: 1.2em;
    line-height: 150%;
/*    padding: 0.5em 0em 0.5em 0em;*/
  }
  .panel h1 {
    color: white;
    font-weight: bold;
    font-size: 2.5em;
    font-family: Nunito, serif;
  }

  .panel h2 {
    color: white;
    font-size: 1.25em;
    margin-top: 0.5em;
    font-family: Nunito, serif;
    padding-left: -1em;
    margin-left: -1em;
  }
  
}

.main-invert hr {
  color: white;
  
}

/* collapsible styling */

.active, .collapsible:hover {
  background-color: #3974c6;
}

.content img {
  width: 100%;
}

/* ---- tag styling ---- */

body {
  color: #696969;
}

p {
/*  font-size: 24px;*/
}


hr {
  margin-top: 1em;
  margin-bottom: 1em;
}

em {
  font-style: italic;
}
.contact img {
  padding: 1em 1em;
}

.contact p {
  float: right;
}

.contact {
  text-align: center;
}

a {
  color: whitesmoke;
}
